<ion-view view-title="">
<ion-content padding="true">
<div class="spacer"></div>
<img ng-src="img/medium-logo.png" alt="Logo" class="col-offset-20" />
<div class="spacer"></div>
<div class="list">
  <label class="item item-input">
    <input type="email" placeholder="Mail">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="password">
  </label>
</div>
<a ui-sref="home"class="button button-positive button-block">Se connecter</a>
<a ui-sref="inscription" class="button button-positive button-block">S'inscrire</a>
<a ui-sref="forgotPassword">Mot de passe oublié</a>


</ion-content>
</ion-view>
