<ion-view view-title="">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>

  </ion-nav-buttons>

  <ion-content padding="true">
    <div class="list">
      <h1 class="text-center positive">Contact</h1>
      <a class="item item-avatar" ui-sref="profil">
        <img src="img/avatar.jpg">
        <h2>Delpierre michel</h2>
        <p>Test cadulink.</p>
      </a>
      <a class="item item-avatar" href="profil">
        <img src="img/avatar.jpg">
        <h2>Venkman</h2>
        <p>Come on, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="profil">
        <img src="img/avatar.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="profil">
        <img src="img/avatar.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/avatar.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>


    </div>
  </ion-content>
</ion-view>
