<ion-view view-title="Cadulink">
  <ion-content padding="true">
    <div class="spacer"></div>

    <h4 class="center">J'ai oublié mon mot de passe</h4>
    <div class="spacer"></div>
    <p class="center">
      Cela arrive !<br>
      Renseignez votre email, et nous vous fournirons des instructions pour retrouver ou réinitialiser votre mot de passe.
    </p>
    <label class="item item-input">
      <input type="email" placeholder="Email">
    </label>
    <a ui-sref="connect" class="button button-positive button-block">Envoyer</a>
  </ion-content>
</ion-view>
