<ion-view view-title="">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
  </ion-nav-buttons>

<ion-content padding="true">

  <div class="list card">
    <div class="item item-avatar">
      <img src="img/avatar.jpg">
      <a ui-sref="profil">Delpierre Michel</a>
      <p>24 fevrier 2016</p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="img/article.jpg">
      <p>
        CADULINK, la 1ère plateforme exclusivement dédiée à l'ensemble des professionnels de santé:
        - une inscription gratuite, sécurisée et rapide, en 3 clics.
        - un lieu où vous pouvez vous exprimer librement.
      </p>
      <p>
        <a href="#" class="subdued">S'abonner</a>
        <a href="#" class="subdued">Commenter</a>
      </p>
    </div>
    <!-- <div class="spacer"></div> -->
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/avatar.jpg">
        <a ui-sref="profil">Delpierre Michel</a>
        <p>24 fevrier 2016</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/article.jpg">
        <p>
          CADULINK, la 1ère plateforme exclusivement dédiée à l'ensemble des professionnels de santé:
          - une inscription gratuite, sécurisée et rapide, en 3 clics.
          - un lieu où vous pouvez vous exprimer librement.
        </p>
        <p>
          <a href="#" class="subdued">S'abonner</a>
          <a href="#" class="subdued">Commenter</a>
        </p>
      </div>
  </div>

</ion-content>
</ion-view>
