<ion-view view-title="">
  <ion-content padding="true">
    <div class="spacer"></div>
    <img ng-src="img/medium-logo.png" alt="Logo" class="col-offset-20" />
    <div class="spacer"></div>
    <label class="item item-input">
      <input type="text" placeholder="Nom">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="prenom">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="id">
    </label>
    <label class="item item-input">
      <input type="date" placeholder="date">
    </label>
    <div class="spacer"></div>
    <a ui-sref="home" class="button button-positive button-block">Envoyer</a>
  </ion-content>
</ion-view>
