<ion-view view-title="" >
  <ion-content padding="true">
    <h1 class="text-center positive">Profil</h1>
    <div class="item item-avatar">
      <img src="img/avatar.jpg">
      <h3>Delpierre Michel</h3>
      <p>Chirurgiens esthetiques </p>
    </div>
    <h4 class="text-center positive">A propos</h4>
    <div class="list card text-center">
      <p>
        Pensez à compléter votre profil, en renseignant ici une présentation en quelques mots
      </p>
    </div>
    <h4 class="text-center positive">Mon parcours</h4>
    <div class="list card text-center">
      <p>
        Le parcours de ce membre na pas encore été renseigné.
      </p>
    </div>
    <h4 class="text-center positive">Mon rang</h4>
    <div class="list card text-center">
    <i class="icon ion-star  positive"></i>
    <i class="icon ion-star  positive"></i>
    <i class="icon ion-star  positive"></i>
    <i class="icon ion-star  "></i>

  </div>
    <div class="spacer"></div>
  </ion-content>
</ion-view>
