/* Empty. Add your own CSS if you like */
.spacer{
  height: 60px;
}
.scroll-content{
  background-image: url("../img/home-bckg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: url("../img/bandeau-haut.jpg");*/
}
